# Supabase Configuration
VITE_SUPABASE_URL=https://xvzrvzhmppkjydvefcnt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh2enJ2emhtcHBranlkdmVmY250Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk5MTA4NjksImV4cCI6MjA2NTQ4Njg2OX0.Y742H_X0RRDXVcwj6vKmnimORqDLDHgWj17H_KHtwJ8
